<div class="mx-1 px-1 my-1 py-1">
  <%= form_tag exercises_path, method: :post, class: "" do %>
    <input type="hidden" value="<%= session[:user] ? session[:user]["id"] : 0 %>" name="exercise[user_id]"/>
    <div class="form-group row">
      <input class="input-unstyled form-control mx-5 text-center h2" type="text" name="exercise[title]" value="Cvicenie" autocomplete="off"/>
    </div>
    <div class="form-group border px-1 py-1">
      <div class="row">
        <p class="col-4 text-center mx-2"><%= t('date') %></p>
        <input type="date" class="col-7 text-center input-unstyled" name="exercise[created_at]" value="01/25/2020" autocomplete="off"/>
      </div>
      <div class="row">
        <p class="col-4 text-center mx-2"><%= t('time') %></p>
        <input class="form-control text-center col-7 input-unstyled" name="exercise[time]" type="text" autocomplete="off"/>
      </div>
      <div class="row">
        <p class="col-4 text-center mx-2"><%= t('distance') %></p>
        <input class="form-control text-center col-7 input-unstyled" name="exercise[distance]" type="text" autocomplete="off"/>
      </div>
    </div>
    <div class="row  justify-content-center">
      <button type="submit" class="col-5 btn btn-success mx-1"><%= t('save') %></button>
    </div>
  <% end %>
</div>
