<header>
  <nav class="navbar navbar-inverse navbar-dark  bg-dark">

    <ul class="nav navbar-left">
      <li><a class="navbar-brand" href="/"><%= t('list') %></a></li>
      <li><a class="navbar-brand" href="<%= new_exercise_path %>"><%= t('add') %></a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if session[:user] %>
        <li>
          <a class="navbar-brand" href="<%= logout_path %>"><%= session[:user]["nick"] %></a>
        </li>
      <% else %>
        <li>
          <button type="button" class="input-unstyled navbar-brand" data-toggle="modal" data-target="#loginModal">
            <%= t('login') %>
          </button>
        </li>
      <% end %>
    </ul>

    <%= render 'users/login' %>

  </nav>
</header>