<header>
  <nav class="navbar navbar-inverse navbar-dark  bg-dark">

    <ul class="nav navbar-left">
      <li><a class="navbar-brand" href="<%= exercises_path %>"><%= t('list') %></a></li>

      <li><a class="navbar-brand" href="<%= new_exercise_path %>">
        <% if device == "mobile" %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        <% else %>
          <%= t('add') %>
        <% end %>
        <%#= t('add') %>
      </a></li>

      <li><a class="navbar-brand" href="<%= search_index_path %>">
        <% if device == "mobile" %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        <% else %>
          <%= t('search.search') %>
        <% end %>
      </a></li>

      <li><a class="navbar-brand" href="<%= statistics_index_path %>">
        <% if device == "mobile" %>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
            <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
          </svg>
        <% else %>
          <%= t('stats.stats') %>
        <% end %>
      </a></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if request.env['warden'].user %>
        <li>
          <a class="navbar-brand" href="<%= logout_path %>"><%= request.env['warden'].user["nick"] %></a>
        </li>
      <% else %>
        <li>
          <button type="button" class="input-unstyled navbar-brand" data-toggle="modal" data-target="#loginModal">
            <%= t('login') %>
          </button>
        </li>
      <% end %>
    </ul>

    <%= render 'users/login' %>

  </nav>
</header>